:host {
  all: initial !important;
  display: block;
  font-family: inherit !important;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.form-loader-container .img {
  animation: spin 2s linear infinite;
  width: 32px;
  height: 32px;
}

* {
  user-select: none;
}
