@import '../style/shift-skeleton.css';
@import '../../features/vehicle-info-layout/vehicle-info-layout.css';

:host {
  display: block;
  all: initial !important;
  font-family: inherit !important;
  font-family: 'Noto Kufi Arabic', 'Nunito', Roboto, Arial, sans-serif !important;
}

*,
:host * {
  font-family: inherit !important;
}
