:host {
  all: initial !important;
  display: block;
  font-family: inherit !important;
}

@keyframes form-loading-spin {
  to {
    transform: rotate(360deg);
  }
}

.form-loader-container .img {
  animation: form-loading-spin 2s linear infinite;
  width: 32px;
  height: 32px;
}

* {
  user-select: none;
}

#vehicle-wrapper {
  display: flex;
  flex-direction: column;
}

@media (min-width: 640px) {
  #vehicle-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-items: center;
    gap: 24px;
  }
}
