service-booking-form::part(shift-form) {
  font-family:
    Nobel-Book,
    'Source Sans Pro',
    sans-serif 'Noto Kufi Arabic',
    'Nunito',
    Roboto,
    Arial,
    sans-serif !important;
}

:lang(ku) service-booking-form::part(shift-form) {
  font-family: GE_SS_Two_Medium, sans-serif, 'Noto Kufi Arabic', 'Nunito', Roboto, Arial, sans-serif !important;
}

:lang(en) service-booking-form::part(shift-form) {
  font-family:
    Nobel-Book,
    'Source Sans Pro',
    sans-serif 'Noto Kufi Arabic',
    'Nunito',
    Roboto,
    Arial,
    sans-serif !important;
}

:lang(ar) service-booking-form::part(shift-form) {
  font-family: GE_SS_Two_Medium, sans-serif, 'Noto Kufi Arabic', 'Nunito', Roboto, Arial, sans-serif !important;
}

service-booking-form::part(container) {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

service-booking-form::part(inputs_wrapper) {
  display: flex;
  flex-direction: column;
  gap: 26px 24px;
}

:lang(ar) service-booking-form::part(inputs_wrapper) {
  gap: 28px 24px !important;
}

@media (min-width: 640px) {
  service-booking-form::part(inputs_wrapper) {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

service-booking-form::part(hr) {
  margin-top: 24px;
  margin-bottom: 24px;
  border-color: rgb(203 213 225);
}

service-booking-form::part(section-title) {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 8px;
  color: black;
}

service-booking-form::part(form-input),
service-booking-form::part(form-input-select) {
  height: 40px;
  border-radius: 0px;
  background: #eaeaea;
  border-color: #0f0f0f;
}

service-booking-form::part(form-input-textarea) {
  border-radius: 0px;
  background: #eaeaea;
  border-color: #0f0f0f;
  height: 100px !important;
}

service-booking-form::part(form-textarea) {
  margin-top: 24px;
}

:lang(ar) service-booking-form::part(form-textarea) {
  margin-top: 28px !important;
}

service-booking-form::part(form-select-container) {
  border-radius: 0px;
}

service-booking-form::part(form-input)::placeholder,
service-booking-form::part(form-input-select)::placeholder {
  color: rgb(15, 15, 15, 0.75);
}

service-booking-form::part(display-error-message) {
  transform: translateY(2px) !important;
}

service-booking-form::part(select-arrow) {
  color: rgb(15, 15, 15, 0.6);
}

service-booking-form::part(submit-button) {
  background: rgb(15, 15, 15);
  color: white;
  border-radius: 0px;
  margin-top: 40px;
  padding: 16px 30px;
}

service-booking-form::part(form-submit-text) {
  font-size: 16px !important;
}

service-booking-form::part(form-select-container) {
  max-height: 150px;
}

service-booking-form::part(form-stepper-line) {
  padding-top: 12px;
  padding-bottom: 30px;
  background: white;
  border-bottom: 1px solid #ededec;
}

service-booking-form::part(form-stepper-line-step-title) {
  color: #acacad !important;
}

service-booking-form::part(stepper-control) {
  margin: 20px 0px 24px;
  font-weight: 400;
}

service-booking-form::part(confirmation-title) {
  font-size: 12px;
  margin-bottom: 30px;
}

service-booking-form::part(confirmation-policy) {
  font-size: 12px;
  margin-top: 60px;
}
