<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vehicle Quotation Form</title>
    <script nomodule src="/build/shift-components.js"></script>
    <script type="module" src="/build/shift-components.esm.js"></script>
    <link rel="stylesheet" href="https://tiqappstorage.blob.core.windows.net/template-files/vehicle-quotation-tiq.css" />
    <!-- <link rel="stylesheet" href="https://tiq-standard-appstorage-byazfecba4bjd4cn.a02.azurefd.net/template-files/vehicle-quotation-tiq.css" /> -->
    <!-- <link rel="stylesheet" href="https://tiqappstorage.blob.core.windows.net/template-files/vehicle-quotation-lexus-trade-in.css" /> -->
    <!-- <link rel="stylesheet" href="https://tiq-standard-appstorage-byazfecba4bjd4cn.a02.azurefd.net/template-files/vehicle-quotation-lexus-trade-in.css" /> -->
  </head>
  <style>
    body {
      padding: 16px;
      scroll-behavior: smooth;
      height: 10000px;
    }
  </style>
  <body>
    <a href="#" onclick="history.back()" style="color: blue; display: block; margin-bottom: 16px">Back</a>
    <h1>Vehicle Quotation Form</h1>

    <!-- is-mobile-form="true" -->
    <!-- structure-url="https://tiqappstorage.blob.core.windows.net/template-files/tiq-vehicle-quotation-form-structure.json" -->
    <!-- structure-url="https://tiqappstorage.blob.core.windows.net/template-files/lexus-vehicle-quotation-trade-in-form-structure.json" -->
    <vehicle-quotation-form
      id="vehicle-quotation"
      structure-url="https://tiqappstorage.blob.core.windows.net/template-files/tiq-vehicle-quotation-form-structure.json"
    ></vehicle-quotation-form>

    <script>
      let vehicleQuotation;

      // cdn: https://tiq-standard-appstorage-byazfecba4bjd4cn.a02.azurefd.net
      // live: https://tiqappstorage.blob.core.windows.net

      document.addEventListener('DOMContentLoaded', () => {
        vehicleQuotation = document.getElementById('vehicle-quotation');

        vehicleQuotation.fields = {
          name: {
            isDisabled: false,
            defaultValue: 'Test Form',
            // staticValue: 'Test Form',
          },
          phone: {
            // defaultValue: '+9647501111111',
            staticValue: '+9647501111111', // static value is auto disabled
          },
          vehicle: {
            isDisabled: true,
            defaultValue: '52739',
          },
        };
        // console.log(vehicleQuotation);

        // vehicleQuotation.getMobileToken = async () => {
        //   const token = await getToken();
        //   return token;
        // };
      });

      // getToken = () => '';
    </script>
  </body>
</html>
