:host {
  all: initial !important;
  display: block;
  font-family: inherit !important;
}

/* :host,
:host * {
  font-family: inherit !important;
} */

/* :host,
:host * {
  font-family: var(--app-font-family) !important;
} */
