@import '../style/shift-skeleton.css';
@import '../../features/image-viewer/image-viewer.css';
@import '../../features/vehicle-info-layout/vehicle-info-layout.css';

:host {
  all: initial !important;
  display: block;
}

* {
  font-family: Arial;
}
