@import '../style/shift-card.css';
@import '../style/shift-skeleton.css';
@import '../../features/vehicle-info-layout/vehicle-info-layout.css';

:host {
  display: block;
  all: initial !important;
  font-family: inherit !important;
  font-family: 'Noto Kufi Arabic', 'Nunito', Roboto, Arial, sans-serif !important;
}

*,
:host * {
  font-family: inherit !important;
}

.card {
  gap: 8px;
  display: flex;
  flex-shrink: 0;
  padding: 8px 12px;
  border: 1px solid;
  align-items: center;
  border-radius: 12px;
  @apply text-slate-900 border-slate-300 bg-slate-100;
}

.card p {
  margin: 0px;
  height: 25px;
  flex: 1 1 0%;
  display: flex;
  font-size: 16px;
  align-items: center;
  padding-inline-start: 8px;
}

.card p.no-padding {
  padding-left: 4px;
}

.card img {
  width: 25px;
  height: 25px;
}

.warning-card {
  color: #8a6d3b;
  background: #fcf8e3;
  border-color: #faebcc !important;
}
